{{! Previous/next page links - only displayed on page 2+ }}
<div class="cf feature">

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}


	{{#if featured}}
		<article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
			<div class="article-item">
				<div class="article-image" style="background-image: url({{image}})">
					Article image
				</div>
				<div class="wrapper">
					<div class="container">
						<header class="post-header">
							<h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
						</header>
						<section class="post-excerpt" itemprop="description">
							<p>{{excerpt characters="200"}}&hellip;</p>
						</section>
					</div>
				</div>
			</div>
		</article>
	{{else}}
		
	{{/if}}

{{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
