<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/index.css"}}" />
    <link rel="stylesheet" href="{{asset "js/styles/obsidian.css"}}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Serif+Pro:400,600,700">
    <link href='http://fonts.googleapis.com/css?family=UnifrakturMaguntia' rel='stylesheet' type='text/css'>
    <script async src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        
        <!-- Swap this with Information of your choice -->
        <section class="info">
             <a href="https://creativemarket.com/Starburst1977/96557-Phantome-Times-modern-publishing" target="_blank">This is a Ghost theme. Get it here.</a>
        </section>
        <!-- End Information -->
        
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    
    {{#with post}}
      <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
      <script src="{{asset "js/highlight.pack.js"}}"></script>
      <script>hljs.initHighlightingOnLoad();</script>
    {{/with}}

</body>
</html>
