{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}"><i class="fa fa-home"></i></a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
    </nav>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </header>

        {{#if image}}
            <div class="article-image" style="background-image: url({{image}})">
                Article Image
            </div>
        {{/if}}
        <div class="wrapper">

            <section class="post-content static-page">
                {{content}}
            </section>
            
        </div>


    </article>
    <header class="main-header post-head">
        <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
            <a class="back-button icon-arrow-left" href="{{@blog.url}}"><i class="fa fa-home"></i></a>
            <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
        </nav>
    </header>
</main>

{{/post}}

